<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>656740463412-9tq3tm8c71ln23tmnsuf16p49d2hjoe2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656740463412-9tq3tm8c71ln23tmnsuf16p49d2hjoe2</string>
	<key>API_KEY</key>
	<string>AIzaSyA7wlTcgqQNV0Ou7zo4RN4mCt7b5X3pmTg</string>
	<key>GCM_SENDER_ID</key>
	<string>656740463412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionicframework.iris604867</string>
	<key>PROJECT_ID</key>
	<string>ionic-fcm-46</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic-fcm-46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656740463412:ios:ef3f6c454d5de42d</string>
	<key>DATABASE_URL</key>
	<string>https://ionic-fcm-46.firebaseio.com</string>
</dict>
</plist>